#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: white;
  border: rgba(207, 207, 207, 0) 1px none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.055) 0px 0px 5px 2px;
  margin: 20px 0px;
}

#title {
  width: auto; 
}

#div-form {
  width: 600px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

form label {
  align-self: start;
}

form button {
  width: 100%;
}

#list-ul {
  width: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.escala-notas {
  background-color: rgb(205, 232, 255);
  padding: 2px 2%;
  width: fit-content;
  color: rgb(0, 68, 255);
  display: flex;
  justify-content: center;
}